<div class="main-carousel w-4/5" data-flickity='{
 "cellAlign": "left",
 "contain": true,
 "imagesLoaded": true
}'>
    {% if carousel.slides %}
        {% for slide in carousel.slides %}
            <img src="{{slide.url}}" alt="{{slide.alt}}" class="carousel-cell w-full"/>
        {% endfor %}
    {% endif %}
</div>