<div class="main-carousel w-4/5" data-flickity='{
 "cellAlign": "left",
 "contain": true,
 "imagesLoaded": true
}'>
    {% if carousel.slides %}
        {% for slide in carousel.slides %}
            <figure class="carousel-cell w-full">
                <img src="{{slide.url}}" alt="{{slide.alt}}"/>
                <figcaption>{{slide.text}}</figcaption>
            </figure>
        {% endfor %}
    {% endif %}
</div>