<div class="main-carousel w-full h-96" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="carousel-cell w-full h-full bg-red-400 flex justify-center items-center white">
        <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-white to-red-400">FLOWERS</h1>
     </div>
    <div class="carousel-cell w-full h-full bg-green-400 flex justify-center items-center white">
        <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-white to-green-400">TREES</h1>
    </div>
    <div class="carousel-cell w-full h-full bg-blue-400 flex justify-center items-center white">
        <h1 class="bg-clip-text text-transparent bg-gradient-to-r from-white to-blue-400">LAKE AND HOUSE</h1>
    </div>
</div>